<%- include('header') %>
<%- include('admin_header') %>

<!-- content -->
<div class="container">
    <div class="page-header">
        <h1>Admin page</h1>
    </div>
    <div class="page-header">
        <h3>Modify account</h3>
    </div>

    <div>
        <form method="post">
            <div class="form-inline">
                <%= user.email %>: <%= user.bank %> HUF modify to:
                <input type="text" name="bank" id="name" class="form-control input-sm"> HUF
                <input type="submit" class="btn btn-default btn-sm" value="Modify"/>
                <a href="/admin" class="btn btn-default btn-sm">Cancel</a>
            </div>
        </form>
    </div>

</div>

<%- include('footer') %>