<%- include('header') %>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Sports</a></li>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- content -->
<div class="container">
    <div class="page-header">
        <h1>Sports Betting</h1>
    </div>

    <div class="row">
        <div class="col-sd-6">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Event</th>
                    <th class="text-center">1</th>
                    <th class="text-center">X</th>
                    <th class="text-center">2</th>
                </tr>
                </thead>
                <tbody>
                <% bets.forEach(function(item){ %>
                <tr>
                    <td><%= item.id %></td>
                    <td><%= item.name %></td>
                    <td class="text-center"><a href="bets/new/<%= item.id %>"><%= item.homeodds %></a></td>
                    <td class="text-center"><a href="bets/new/<%= item.id %>"><%= item.drawodds %></a></td>
                    <td class="text-center"><a href="bets/new/<%= item.id %>"><%= item.awayodds %></a></td>
                </tr>
                <!-- Pelda egy item-re:
                <tr>
                    <td>2</td>
                    <td>Everton - Arsenal, Sat 19 Mar 13:45</td>
                    <td class="text-center"><a href="newbet.html">2.60</a></td>
                    <td class="text-center"><a href="newbet.html">3.25</a></td>
                    <td class="text-center"><a href="newbet.html">2.60</a></td>
                </tr>
                -->
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('footer') %>